rules_version = '2'

service cloud.firestore {
	match /databases/{database}/documents {
		match /rooms/{room}/messages/{message} {
			allow read
			allow create: if
				newData().keys().hasOnly(['body', 'created']) &&
				newData().body is string &&
					newData().body.size() > 0 &&
					newData().body.size() <= 350 &&
				newData().created is timestamp &&
					newData().created == now()
		}
		
		function newData() {
			return request.resource.data
		}
		
		function now() {
			return request.time
		}
	}
}
