*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	overscroll-behavior: none;
}

#title {
	margin: auto;
	text-align: center;
}
