*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	overscroll-behavior: none;
}

#title {
	position: fixed;
	top: 8px;
	left: 12px;
}

#id-form {
	display: flex;
	flex-direction: column;
	margin: auto;
}

#id-label {
	margin-bottom: 4px;
	font-weight: 900;
}

#id-actions {
	display: flex;
	height: 34px;
}

#id-input {
	flex-grow: 1;
	padding: 0 12px;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#id-input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

#id-submit {
	flex-shrink: 0;
	margin-left: 8px;
	padding: 0 12px;
	font-weight: 900;
	color: white;
	background: #007aff;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s;
}

#id-submit:disabled {
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.1);
}
